.ancestor {
    border: 1px solid #555;
    margin: 50px 0 0 50px;
}

#ancestor-level-1 {
    height: 250px;
    width: 250px;
    position: relative;
}

#ancestor-level-2 {
    height: 350px;
    width: 350px;
    position: relative;
}

#ancestor-level-3 {
    height: 450px;
    width: 450px;
    position: relative;
}

#ancestor-level-4 {
    height: 550px;
    width: 600px;
    position: relative;
}

#box {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 15px;
    left: 15px;
    background: blue;
}
